<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset ="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <link rel ="stylesheet" href="/styles.css">

</head>

<title>Web Application</title>


<body>
    <h1>STADVDB MCO2 Web Application - S13 Group 3</h1>
    <h3>Deleting Data to Appointments Dataset</h3>
    
    <form action="/appointmentsDelete" method="post">
        <label for="apptid">Appointment ID:</label>
        <input type="text" id="apptid" name="apptid"><br>
      
        <input type="submit" value="Submit">
      </form>

    <br>

    <a href="../appointments"><button>Cancel</button></a>

</body>
</html>