<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <title>Web Application</title>
</head>
<body>
    <h1>STADVDB MCO2 Web Application - S13 Group 3</h1>
    <h3>Report Generation</h3>

    <br>
    
    <div>
        <h4>Number of Appointments per Location</h2>
        <p><%- location %></p>
        <br>
    </div>
    <div>
        <h4>Comparison of True and False Virtual Appointments</h2>
        <p><%- virtual %></p>
        <br>
    </div>
    <div>
        <h4>Age Demographics</h2>
        <p><%- age %></p>
        <br>
    </div>
    

    <a href="../appointments"><button>Go Back</button></a>

</body>
</html>
