<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset ="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <link rel ="stylesheet" href="/styles.css">

</head>

<title>Web Application</title>


<body>
    <h1>STADVDB MCO2 Web Application - S13 Group 3</h1>
    <h3>Updating Data in Luzon Dataset</h3>
    
    <form action="/updateDataLuzon" method="post">
      <label for="id">ID (put id of existing data):</label>
      <input type="text" id="id" name="id"><br>
      <label for="city">City:</label>
      <input type="text" id="city" name="city"><br>
      <label for="province">Province:</label>
      <input type="text" id="province" name="province"><br><br>
      <input type="submit" value="Submit">
    </form>

    <br>

    <a href="../Luzon"><button>Cancel</button></a>

</body>
</html>