<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset ="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <link rel ="stylesheet" href="/style.css">
</head>

<title>Web Application</title>


<body>
    <h1>TANGINA</h1>
    <% for (let i = 0; i < results.length; i++) { %>

        <span>id number <%= i %>: bossman id <%= results[i].idbossmantable %> age: <%= results[i].age %> </span> 
        <br>
    <% } %>
    
</body>
</html>