<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset ="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <link rel ="stylesheet" href="/styles.css">

</head>

<title>Web Application</title>


<body>
    <h1>STADVDB MCO2 Web Application - S13 Group 3</h1>
    <h3>Luzon Dataset</h3>

    <a href="../LuzonAddData"><button>+ Add Data to Luzon Dataset</button></a>
    <a href="../updateDataLuzon"><button># Update Data in Luzon Dataset</button></a>
    <br><br>

    <% for (let i = 0; i < results.length; i++) { %>

        <span> idLuzon: <%= results[i].idLuzon %>  Province: <%= results[i].Provinces %> CITY: <%= results[i].Cities %></span> 
        <br>
    <% } %>
    
    <br>
    <a href="../bossman"><button><-- Move to Bossman Dataset</button></a>
    
</body>
</html>