<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset ="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <link rel ="stylesheet" href="/styles.css">

</head>

<title>Web Application</title>


<body>
    <h1>STADVDB MCO2 Web Application - S13 Group 3</h1>
    <h3>Bossman Dataset</h3>


    <a href="../bossmanAddData"><button>+ Add Data to Bossman Dataset</button></a>
    <a href="../bossmanAddData"><button># Update Data in Bossman Dataset</button></a>
    <br><br>

    <% for (let i = 0; i < results.length; i++) { %>
        <span>id number <%= i %>: bossman id <%= results[i].idbossmantable %> age: <%= results[i].age %> </span> 
        <br>
    <% } %>

    <br>
    <a href="../Luzon"><button><-- Move to Luzon Dataset</button></a>

</body>
</html>