<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset ="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <link rel ="stylesheet" href="/style.css">

</head>


<title>Web Application</title>


<body>
    <h1>STADVDB MCO2 Web Application - S13 Group 3</h1>
    <h3>Choose a dataset to view:</h3>

    <a href="../webappbos.ejs"><button>Bossman Dataset</button></a>
    <a href="../webappLuzon.ejs"><button>Luzon Dataset</button></a>

</body>
</html>