<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset ="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <link rel ="stylesheet" href="/styles.css">

</head>

<body>
<title>Web Application</title>

    <h1>STADVDB MCO2 Web Application - S13 Group 3</h1>
    <h3>Choose Operation:</h3>

    <a href="../appointments"><button>View Appointments Dataset</button></a>
    <br>
    <br>
    <a href="../reportGeneration"><button>Report Generation</button></a>

</body>
</html>