<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset ="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <link rel ="stylesheet" href="/styles.css">

</head>

<title>Web Application</title>


<body>
    <h1>STADVDB MCO2 Web App - S13 Group 3</h1>

    <a href="../"><button><-- Go Back to Home</button></a>
    <br>

    <h2>Luzon Dataset</h2>

    <form method = "get" id = "searchLuzon">
        <label for="id">Search ID:</label>
        <input type="text" id="id" name="id" placeholder="Enter search term">
        <input type="submit" value="Search">
    </form>

    <br>

    <a href="../LuzonAddData"><button>+ Add Data to Luzon Dataset</button></a>
    <a href="../updateDataLuzon"><button># Update Data in Luzon Dataset</button></a>
    
    <br><br>
    <div id="search-results">
        <% for (let i = 0; i < results.length; i++) { %>

            <span> idLuzon: <%= results[i].idLuzon %>  Province: <%= results[i].Provinces %> CITY: <%= results[i].Cities %></span> 
            <br>

        <% } %>
    </div>
    
</body>
</html>